<div class="row d-flex justify-content-center">
  <div>
    <a href="https://www.linkedin.com/company/revature/"> <img
      alt="Image Not Found" src="assets/photos/linked_in.png" width="90"
      length="90" />
    </a> <a href="https://www.facebook.com/revature/"> <img
      alt="Image Not Found" src="assets/photos/facebook.png" width="54" length="54" />
    </a> &ensp; <a href="https://twitter.com/wearerevature?lang=en"> <img
      alt="Image Not Found" src="assets/photos/twitter.png" width="67" length="67" />
    </a> &ensp; <a href="https://www.instagram.com/teamrevature/"> <img
      alt="Image Not Found" src="assets/photos/instagram.png" width="54"
      length="54" />
    </a>
  </div>
    <div class="social-btns">
      <a class="btn facebook" href="https://www.facebook.com/revature/"><i class="fa fa-facebook"
          aria-hidden="true"></i></a>
      <a class="btn google" href="https://plus.google.com/105106530231788340113"><i class="fa fa-google"
          aria-hidden="true"></i></a>
      <a class="btn linkedin" href="https://www.linkedin.com/company/revature"><i class="fa fa-linkedin"
          aria-hidden="true"></i></a>
      <a class="btn instagram" href="https://www.instagram.com/teamrevature/"><i class="fa fa-instagram"
          aria-hidden="true"></i></a>
      <a class="btn github" href="https://github.com/Revature"><i class="fa fa-github" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <p>Powered by <a href="https://revature.com/">Revature.</a> &copy; {{year}} All rights reserverd.
    </p>
  </div>
