<div class="container">
    <div class="row d-flex justify-content-center">
        <input type="number" [(ngModel)]="maxCalories" placeholder="Enter Maximum Calories for today" />
        <span>{{date}}</span>

        <button class="btn btn-primary" id="gotime" (click)="saveday()" style="visibility: hidden">Save day</button>
    </div>
    <div>
        <button (click)="viewGraph()">View History</button>
    </div>
    <div>
        <br>
        <br>
        <span allign="center">Remaining calories: {{getRemainingCalories()}}</span>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="jumbotron">
                <legend text-align="center">Breakfast</legend>

                Amount in Grams:<input type="number" id="bgrams" min ="1" max="9999" style = "float: right" placeholder="grams" value ="100"><!--GRAMS--> 

                <div *ngIf="!breakfastSelectedIngredient && breakfastIngredients">
                
                    <table datatable [dtOptions]="dtOptionsBreakfastIngredients" [dtTrigger]="dtTriggerBreakfastIngredients" id="breakfastIngredients" class="display">
                        
                        <thead>
                            <tr>
                                <th>Ingredient</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ingredient of breakfastIngredients" (click)="onBreakfastIngredientSelect(ingredient)">
                                <td>{{ingredient.ingredientName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="breakfastSelectedIngredient && !breakfastSelectedFood && breakfastFoods">
                    <table datatable [dtOptions]="dtOptionsBreakfastFoods" [dtTrigger]="dtTriggerBreakfastFood" id="breakfastFoods" class="display">
                        <thead>
                            <tr>
                                <th>Food</th>
                                <th>Cal/100g</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let food of breakfastFoods" (click)="onBreakfastFoodSelect(food)">
                                <td>{{food.name}}</td>
                                <td>{{food.calories}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button (click)="onBreakfastIngredientSelect(null)">Reset</button>
                </div>
                <div *ngIf="breakfastSelectedFood">
                    {{breakfastSelectedFood.foodName}}
                    <button (click)="onBreakfastSelectedFoodReset()">Reset</button>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="jumbotron">
                <legend text-align="center">Lunch</legend>
                Amount in Grams:<input type="number" id="lgrams" min ="1" max="9999" style = "float: right" placeholder="grams" value ="100">
                <div *ngIf="!lunchSelectedIngredient && lunchIngredients">
            
                    <table datatable [dtOptions]="dtOptionsLunchIngredients" [dtTrigger]="dtTriggerLunchIngredients" id="lunchIngredients" class="display">
                        <thead>
                            <tr>
                                <th>Ingredient</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ingredient of lunchIngredients" (click)="onLunchIngredientSelect(ingredient)">
                                <td>{{ingredient.ingredientName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="lunchSelectedIngredient && !lunchSelectedFood && lunchFoods">
                    <table datatable [dtOptions]="dtOptionsLunchFoods" [dtTrigger]="dtTriggerLunchFood" id="lunchFoods" class="display">
                        <thead>
                            <tr>
                                <th>Food</th>
                                <th>Cal/100g</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let food of lunchFoods" (click)="onLunchFoodSelect(food)">
                                <td>{{food.name}}</td>
                                <td>{{food.calories}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button (click)="onLunchIngredientSelect(null)">Reset</button>
                </div>
                <div *ngIf="lunchSelectedFood">
                    {{lunchSelectedFood.foodName}}
                    <button (click)="onLunchSelectedFoodReset()">Reset</button>
                </div>
            </div>
		</div>
		<div class="col-md">
			<div class="jumbotron">
                <legend text-align="center">Dinner</legend>
                Amount in Grams:<input type="number" id="dgrams" min ="1" max="9999" style = "float: right" placeholder="grams" value ="100">
				<div *ngIf="!dinnerSelectedIngredient && dinnerIngredients">
                        
					<table datatable [dtOptions]="dtOptionsDinnerIngredients" [dtTrigger]="dtTriggerDinnerIngredients" id="dinnerIngredients" class="display">
						<thead>
							<tr>
								<th>Ingredient</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let ingredient of dinnerIngredients" (click)="onDinnerIngredientSelect(ingredient)">
								<td>{{ingredient.ingredientName}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div *ngIf="dinnerSelectedIngredient && !dinnerSelectedFood && dinnerFoods">
					<table datatable [dtOptions]="dtOptionsDinnerFoods" [dtTrigger]="dtTriggerDinnerFood" id="dinnerFoods" class="display">
						<thead>
							<tr>
                                <th>Food</th>
                                <th>Cal/100g</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let food of dinnerFoods" (click)="onDinnerFoodSelect(food)">
                                <td>{{food.name}}</td>
                                <td>{{food.calories}}</td>
							</tr>
						</tbody>
					</table>
					<button (click)="onDinnerIngredientSelect(null)">Reset</button>
				</div>
				<div *ngIf="dinnerSelectedFood">
					{{dinnerSelectedFood.foodName}}
					<button (click)="onDinnerSelectedFoodReset()">Reset</button>
				</div>
			</div>
		</div>
	</div>
</div>