
<div class="jumbotron" align="center">
  <h1 mdbBtn color="primary" size="lg" href="#" mdbWavesEffect>Welcome to Recipe Calorie Track!</h1>
  <h2 class="display-4">{{ quote }}</h2>
  <p class="lead">{{ author }}</p>
  <!-- Card image -->
  <div class="view overlay my-4 waves-light" mdbWavesEffect>
    <img src="https://heavyeditorial.files.wordpress.com/2014/05/weight-watchers-points-calculator-online.jpg?quality=65&strip=all" class="img-fluid" alt="">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
</div>
