<div class="jumbotron" style="background-image: url(assets/photos/front.jpg);">
    <div class="text-white text-top text-center rgba-stylish-strong py-5 px-4">
        <div class="py-5">
            <h1 mdbBtn color="primary" size="xlg" href="#" mdbWavesEffect>Welcome to Recipe Calorie Track!</h1>
        </div>
    </div>
    <div class="text-white text-center rgba-stylish-strong py-6 px-4">
        <br>
        <h2 class="display-6">{{ quote }}</h2>
        <p class="lead">{{ author }}</p>
    </div>
</div>
<!-- height: 100vh; width: 100vw; -->