<div align="center">
		<div class="container">
			<div class="jumbotron">
				<legend>Recipe Calorie Tracker</legend>
				<br>
				<p text-align="center">Search functionality.</p>
					<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="Ingredients" class="display">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>NDBNO</th>
							</tr>
						</thead>
						<tbody>
              <tr *ngFor="let ingredient of ingredients">
                <td>{{ingredient.id}}</td>
                <td>{{ingredient.ingredientName}}</td>
                <td>{{ingredient.ndbno}}</td>
              </tr>
						</tbody>
					</table>
				</div>
</div>
</div>